<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108683340819-dg2hg0d2mkn9kqivrua9metsaaq02u8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108683340819-dg2hg0d2mkn9kqivrua9metsaaq02u8v</string>
	<key>API_KEY</key>
	<string>AIzaSyDaroByR0LpPq8yDXVGsW_6UlNu9gvhWbg</string>
	<key>GCM_SENDER_ID</key>
	<string>108683340819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>basic.Instagram-clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-5f356</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-5f356.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108683340819:ios:c7b3e6380a1131f81463e6</string>
</dict>
</plist>